@import "../node_modules/bootstrap/scss/bootstrap.scss";


$body-bg: #2F0621;
$body-color: #FAE7D0;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";




$primary: #91E0F3;
$secondary: #D16F00;
$success: #CAE000;
$warning: #ECF974;
$danger: #B54646;

@import "../node_modules/bootstrap/scss/bootstrap.scss";