{% extends 'base.html' %}

{% block title %}{{recipe.name}}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div class="clearfix">
        <img src="{{recipe.image_url}}"
            class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 float-md-end mb-3 ms-md-3" alt="...">

        <p class="h3 text-center drink-title" data-recipe-id="{{recipe.id}}">{{recipe.name}}
        </p>

        <p class="text-center"> <span class="h5">Ingredient list: </span>
            <br>
            {% for pair in recipe['ingredients'] | batch(2) %}
            {% for elem in pair %}
            {{ loop.cycle('', ' - ') }} {{recipe['ingredients'][elem]}}
            {% endfor %}
            <br>
            {% endfor %}
        </p>

        <p class="text-center">
            <span class="h5">Instructions: </span>
            <br>
            {{recipe.process_EN}}
        </p>


    </div>

</div>



{% if came_from == 'favorites' %}
<div class="container">
    <form action="" id="notes-form">
        <div class="form-group col-10 offset-1">
            <div class="row justify-content-between">
                <label for="user-notes">Notes:</label>
                <input class="btn btn-info btn-sm" type="button" id="save-btn" value="Save Changes">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-10 offset-1">
                <textarea class="form-control" id="user-notes" rows="3" placeholder="What do you think?.."></textarea>
            </div>
        </div>


    </form>
    <div class="d-flex justify-content-center row">
        <a class="btn btn-primary btn-sm mb-5" href="/user/favorites/{{page_num}}">Back to Favorites</a>
    </div>
</div>
{% elif came_from == 'home' %}
<div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-sm mb-5" href="/">Back to Home</a>
</div>
{% elif came_from == 'search' %}
<div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-sm mb-5" href="/display/results/{{page_num}}">Back to Results</a>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
{% if came_from == 'favorites' %}
<script src="{{ url_for('static', filename='edit_notes.js')}}"></script>
{% endif %}
{% endblock %}