{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}
<div class="container-md col-6-lg m-5" style="max-width: 25rem;">
    <form id="signup-form" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}


        <div class="form-group">

            {{ field.label }}
            {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <small class="form-text text-muted">
                {{ error }}
            </small>
            {% endfor %}
        </div>


        {% endfor %}
        <br>
        <input class="btn btn-success btn-lg" type="submit" />
        <a href="/" class="btn btn-secondary btn-sm">Cancel</a>
    </form>
    {% endblock %}